:root{
    --blue : #00796b ;
    --lightblue :#e0f7fa ;
}

body{
    margin: 0;
    padding: 10px;
    min-width: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--lightblue);
    color:var(--blue);
}

#input-box{
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: white;
}
.btn{
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: var(--blue);
    border: 1px solid var(--blue);
}
#delete-btn:active{
    padding: 9px 19px;
}
#delete-btn{
    background-color: white;
    border: 1px solid var(--blue);
    color: var(--blue);
}
.btn:active{
    border: 1px solid  var(--lightblue);
}
ul{
    list-style: none ;
    border-radius: 5px;
    margin-top: 10px;
}
li{
    width: 500px;
    margin-left: -30px;
    margin-top:5px ;
    padding: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    background-color: white;
}
a{    
    color:var(--blue) ;
}

